In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from pandas import ExcelWriter

In [4]:
df = pd.read_csv(r'C:\Users\janu\Downloads\dataset\train_file.csv')

In [5]:
print(df.head())

   ID UsageClass CheckoutType  CheckoutYear  CheckoutMonth  Checkouts  \
0   1   Physical      Horizon          2005              4          1
1   2   Physical      Horizon          2005              4          1
2   3   Physical      Horizon          2005              4          3
3   4   Physical      Horizon          2005              4          1
4   5   Physical      Horizon          2005              4          1

                                               Title               Creator  \
0                                         Tidal wave                   NaN
1                     London holiday / Richard Peck.  Peck, Richard, 1934-
2  Cinco de Mayo : celebrating Hispanic pride / C...      Gnojewski, Carol
3                                          Annapolis                   NaN
4                                  As a man thinketh                   NaN

                                            Subjects           Publisher  \
0             Tsunamis, Tsunamis Juvenile literature                 NaN
1                                                NaN             Viking,
2  Cinco de Mayo Mexican holiday History Juvenile...  Enslow Publishers,
3  War stories, Historical fiction, Domestic fict...                 NaN
4                               Thought and thinking                 NaN

  PublicationYear MaterialType
0             NaN         BOOK
1           1998.         BOOK
2          c2002.         BOOK
3             NaN         BOOK
4             NaN         BOOK

In [6]:
material = {'BOOK':1,'SOUNDDISC':2,'SOUNDCASS':3,'VIDEOCASS':4,'VIDEODISC':5,'MUSIC':6,'CR':7,'MIXED':8}
df['MaterialType'] = [material[i] for i in df.MaterialType]

In [13]:
df['Subjects'].fillna(0,inplace = True)
df['Subjects'].replace(0,'xxx',inplace = True)

print(df.head(10))

   ID UsageClass CheckoutType  CheckoutYear  CheckoutMonth  Checkouts  \
0   1   Physical      Horizon          2005              4          1
1   2   Physical      Horizon          2005              4          1
2   3   Physical      Horizon          2005              4          3
3   4   Physical      Horizon          2005              4          1
4   5   Physical      Horizon          2005              4          1
5   6   Physical      Horizon          2005              4          4
6   7   Physical      Horizon          2005              4          1
7   8   Physical      Horizon          2005              4          1
8   9   Physical      Horizon          2005              4          4
9  10   Physical      Horizon          2005              4          1

                                               Title               Creator  \
0                                         Tidal wave                   NaN
1                     London holiday / Richard Peck.  Peck, Richard, 1934-
2  Cinco de Mayo : celebrating Hispanic pride / C...      Gnojewski, Carol
3                                          Annapolis                   NaN
4                                  As a man thinketh                   NaN
5  Minnie and Moo go dancing / [written and illus...          Cazet, Denys
6                              cat who robbed a bank                   NaN
7       Irwin guide to using the Wall Street journal                   NaN
8                                       Oracle night                   NaN
9                                12 haunted episodes                   NaN

                                            Subjects           Publisher  \
0             Tsunamis, Tsunamis Juvenile literature                 NaN
1                                                xxx             Viking,
2  Cinco de Mayo Mexican holiday History Juvenile...  Enslow Publishers,
3  War stories, Historical fiction, Domestic fict...                 NaN
4                               Thought and thinking                 NaN
5  Cows Juvenile fiction, Parties Fiction, Farm l...            DK Pub.,
6  Mystery fiction, Qwilleran Jim Fictitious char...                 NaN
7  Wall Street journal, Investments United States...                 NaN
8  Novelists American New York State New York Fic...                 NaN
9                               Rock music 1991 2000                 NaN

  PublicationYear  MaterialType
0             NaN             1
1           1998.             1
2          c2002.             1
3             NaN             1
4             NaN             1
5          c1998.             1
6             NaN             1
7             NaN             1
8             NaN             1
9             NaN             2

In [14]:
tf = pd.read_csv(r'C:\Users\janu\Downloads\dataset\test_file.csv')
tf['Subjects'].fillna('xxx',inplace=True)
counter = CountVectorizer()
counter.fit(df['Subjects'])
train_counts = counter.transform(df['Subjects'])
test_counts = counter.transform(tf['Subjects'])
classifier = MultinomialNB()
classifier.fit( train_counts,df['MaterialType'] )
print(classifier.score(train_counts,df['MaterialType']))
test_material_type = classifier.predict(test_counts)
tf['MaterialType'] = test_material_type

0.8676270811613433

In [15]:
print(tf.head(10))

      ID UsageClass CheckoutType  CheckoutYear  CheckoutMonth  Checkouts  \
0  31654   Physical      Horizon          2005              4          1
1  31655   Physical      Horizon          2005              4          2
2  31656   Physical      Horizon          2005              4          2
3  31657   Physical      Horizon          2005              4          2
4  31658   Physical      Horizon          2005              4          2
5  31659   Physical      Horizon          2005              4          1
6  31660   Physical      Horizon          2005              4          2
7  31661   Physical      Horizon          2005              4          1
8  31662   Physical      Horizon          2005              4          1
9  31663   Physical      Horizon          2005              4          1

                                               Title  \
0                           Footprints at the window
1                    Seven brides for seven brothers
2  History [sound recording] / Loudon Wainwright ...
3                 Doing big business on the internet
4                       Lets learn how to dance shag
5                                      Cypress Point
6                    Better living through chemistry
7                                  Political suicide
8                             DHEA a practical guide
9  Những kẻ đính hôn / Alexanđrô Manzôni (Italia)...

                          Creator  \
0                             NaN
1                             NaN
2  Wainwright, Loudon, III, 1946-
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9  Manzoni, Alessandro, 1785-1873

                                            Subjects  \
0            England Fiction, Space and time Fiction
1  Video recordings for the hearing impaired, Mus...
2                            Popular music 1991 2000
3  Internet, Internet advertising, Information ne...
4                       Shag Dance, Ballroom dancing
5  Love stories, Healers Fiction, Brain damage Fi...
6               House music, Popular music 1991 2000
7                                   Large type books
8  Dehydroepiandrosterone Popular works, Dehydroe...
9                                                xxx

                   Publisher PublicationYear  MaterialType
0                        NaN             NaN             1
1                        NaN             NaN             4
2                  Charisma,          p1992.             2
3                        NaN             NaN             1
4                        NaN             NaN             4
5                        NaN             NaN             1
6                        NaN             NaN             2
7                        NaN             NaN             1
8                        NaN             NaN             1
9  Nhà xuất bản Hội nhà văn,          [2003]             1

In [16]:
xaterial = {1:'BOOK',2:'SOUNDDISC',3:'SOUNDCASS',4:'VIDEOCASS',5:'VIDEODISC',6:'MUSIC',7:'CR',8:'MIXED'}
tf['MaterialType'] = [xaterial[i] for i in tf.MaterialType]

In [17]:
print(tf.head(10))

      ID UsageClass CheckoutType  CheckoutYear  CheckoutMonth  Checkouts  \
0  31654   Physical      Horizon          2005              4          1
1  31655   Physical      Horizon          2005              4          2
2  31656   Physical      Horizon          2005              4          2
3  31657   Physical      Horizon          2005              4          2
4  31658   Physical      Horizon          2005              4          2
5  31659   Physical      Horizon          2005              4          1
6  31660   Physical      Horizon          2005              4          2
7  31661   Physical      Horizon          2005              4          1
8  31662   Physical      Horizon          2005              4          1
9  31663   Physical      Horizon          2005              4          1

                                               Title  \
0                           Footprints at the window
1                    Seven brides for seven brothers
2  History [sound recording] / Loudon Wainwright ...
3                 Doing big business on the internet
4                       Lets learn how to dance shag
5                                      Cypress Point
6                    Better living through chemistry
7                                  Political suicide
8                             DHEA a practical guide
9  Những kẻ đính hôn / Alexanđrô Manzôni (Italia)...

                          Creator  \
0                             NaN
1                             NaN
2  Wainwright, Loudon, III, 1946-
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9  Manzoni, Alessandro, 1785-1873

                                            Subjects  \
0            England Fiction, Space and time Fiction
1  Video recordings for the hearing impaired, Mus...
2                            Popular music 1991 2000
3  Internet, Internet advertising, Information ne...
4                       Shag Dance, Ballroom dancing
5  Love stories, Healers Fiction, Brain damage Fi...
6               House music, Popular music 1991 2000
7                                   Large type books
8  Dehydroepiandrosterone Popular works, Dehydroe...
9                                                xxx

                   Publisher PublicationYear MaterialType
0                        NaN             NaN         BOOK
1                        NaN             NaN    VIDEOCASS
2                  Charisma,          p1992.    SOUNDDISC
3                        NaN             NaN         BOOK
4                        NaN             NaN    VIDEOCASS
5                        NaN             NaN         BOOK
6                        NaN             NaN    SOUNDDISC
7                        NaN             NaN         BOOK
8                        NaN             NaN         BOOK
9  Nhà xuất bản Hội nhà văn,          [2003]         BOOK

In [18]:
columns = ['ID', 'MaterialType']
df1 = pd.DataFrame(tf, columns=columns)

In [19]:
print(df1.head(10))

      ID MaterialType
0  31654         BOOK
1  31655    VIDEOCASS
2  31656    SOUNDDISC
3  31657         BOOK
4  31658    VIDEOCASS
5  31659         BOOK
6  31660    SOUNDDISC
7  31661         BOOK
8  31662         BOOK
9  31663         BOOK

In [20]:




# DF TO CSV
df1.to_csv('PythonExport.csv', sep=',')